extends layout

block append css
  link(rel="stylesheet", href="/css/includes/fbHeader.css")
  link(rel="stylesheet", href="/css/includes/timeline.css")
  link(rel="stylesheet" href="/css/main/style.css")


block content
  include includes/fbHeader.pug

  main
    #mainLeft
      .custom-scroll
        ul
          li
            a(href=`/profile/${user.id}`)
              div
                img#mainLeftUserImg(src=user.profilePhoto alt="userImage")
                div 서해빈
          div
            li
              a
                div
                  img(src="/images/main/mainLeft/corona19.png" alt="")
                  div 코로나19 정보 센터
            li
              a(href="/messenger")
                div
                  img(src="/images/main/mainLeft/messenger.png" alt="")
                  div Messenger
            li
              a
                div
                  img(src="/images/main/mainLeft/page.png" alt="")
                  div 페이지
            li
              a
                div
                  img(src="/images/main/mainLeft/event.png" alt="")
                  div 이벤트
            li
              a
                div
                  img(src="/images/main/mainLeft/video.png" alt="")
                  div 동영상
            li
              a
                div
                  img(src="/images/main/mainLeft/group.png" alt="")
                  div 그룹
            li
              a
                div
                  img(src="/images/main/mainLeft/donation.png" alt="")
                  div 기부 캠페인
            li
              a
                div
                  img(src="/images/main/mainLeft/friend_list.png" alt="")
                  div 친구 리스트
            #mainLeftMore
              | 더 보기
              img(src="/images/main/mainLeft/gh6w5V-oaK0.png" alt="더보기 img")
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
            li
              a
                div
                  img(src="" alt="")
                  div
          .listDivider
        ul
          .listName 바로가기
          li
            a
              div
                #mainLeftDirectImg
                  img(src="/images/main/mainLeft/link_ex.jpg" alt="")
                div 생활코딩
        div
          | 개인정보처리방침  ·  약관  ·  광고  ·  AdChoices
          .icon--adchoices
          |    ·  쿠키  ·  더 보기  ·  Facebook © 2020
    
    #mainCenter
      div
        // 스토리
        #storyArea
          div
            a
              div
                img#storyBgImg1(src="/images/main/mainCenter/test_storyBgImg1.jpg" alt="스토리 이미지 1")
                #storyUserImg1.storyUserImg_exist
                  img(src="/images/main/mainCenter/test_storyUserImg1.jpg" alt="스토리 유저 이미지 1")
                #storyUserName1 유준호 페이지
          div
            a
              div
                img#storyBgImg2
                #storyUserImg2
                #storyUserName2
          div
            a
              div
                img#storyBgImg3
                #storyUserImg3
                #storyUserName3
          div
            a
              div
                img#storyBgImg4
                #storyUserImg4
                #storyUserName4
          div
            a
              div
                img#storyBgImg5
                #storyUserImg5
                #storyUserName5
        #afterStory
          include includes/timeline.pug

    #mainRight
      .custom-scroll
        //-  광고
        #ads
          div Sponsored
          a()
            div
              div
                img(src="/images/main/mainRight/testads.jpg" alt="")
              div
                span 캐글 상위 랭커가 가르치는 머신러닝 데이터 분석은?
                span learningspoons.com
          .listDivider
        //-  연락처
        #contacts
          div.listName
            span 연락처
            div
              div
                img(src="/images/main/mainRight/HJeNJMRatWg.png" alt="")
              div
                img(src="/images/main/mainRight/LZP5SAAuvu9.png" alt="")
              div
                img(src="/images/main/mainRight/pYa91jLXA4e.png" alt="")
          ul
            each friend in friends
              li.contactHoverTabTrigger(data-uid=friend.id)
                a(href=`/messenger/${friend.friend.roomId}`)
                  div
                    img(src=friend.profilePhoto)
                    div
                      span= friend.name
          .contactHoverTab.invisible
            div
              a
                img
            div 
              a
                span

block append script
  script(src="/js/includes/fbHeader.js" type="module")
  script(src="/js/includes/timeline.js" type="module")
  script(src="/js/main/main.js" type="module")
  script(src="/socket.io/socket.io.js")
  script.
    const userSocket = io.connect('/user', { forceNew: true, path: '/socket.io' });

    function test(alarm) {
      console.log(alarm.type);
    }
    userSocket.on('msgPosted', test);
    userSocket.on('likePosted', test);
    userSocket.on('commentPosted', test);
    userSocket.on('confirmFriend', test);
    userSocket.on('friendConfirmed', test);
