extends layout

block css
  link(rel="stylesheet" href="/css/messenger/style.css")

block content
  div
    div#headerCenter
      a(href="/")
        #home.selected
          svg(viewbox="0 0 28 28" height="28" width="28")
            path(d="M25.825 12.29C25.824 12.289 25.823 12.288 25.821 12.286L15.027 2.937C14.752 2.675 14.392 2.527 13.989 2.521 13.608 2.527 13.248 2.675 13.001 2.912L2.175 12.29C1.756 12.658 1.629 13.245 1.868 13.759 2.079 14.215 2.567 14.479 3.069 14.479L5 14.479 5 23.729C5 24.695 5.784 25.479 6.75 25.479L11 25.479C11.552 25.479 12 25.031 12 24.479L12 18.309C12 18.126 12.148 17.979 12.33 17.979L15.67 17.979C15.852 17.979 16 18.126 16 18.309L16 24.479C16 25.031 16.448 25.479 17 25.479L21.25 25.479C22.217 25.479 23 24.695 23 23.729L23 14.479 24.931 14.479C25.433 14.479 25.921 14.215 26.132 13.759 26.371 13.245 26.244 12.658 25.825 12.29")
      a(href="#")
        #friend
          svg(viewbox="0 0 28 28" height="28" width="28")
            path(d="M10.5 4.5c-2.272 0-2.75 1.768-2.75 3.25C7.75 9.542 8.983 11 10.5 11s2.75-1.458 2.75-3.25c0-1.482-.478-3.25-2.75-3.25zm0 8c-2.344 0-4.25-2.131-4.25-4.75C6.25 4.776 7.839 3 10.5 3s4.25 1.776 4.25 4.75c0 2.619-1.906 4.75-4.25 4.75zm9.5-6c-1.41 0-2.125.841-2.125 2.5 0 1.378.953 2.5 2.125 2.5 1.172 0 2.125-1.122 2.125-2.5 0-1.659-.715-2.5-2.125-2.5zm0 6.5c-1.999 0-3.625-1.794-3.625-4 0-2.467 1.389-4 3.625-4 2.236 0 3.625 1.533 3.625 4 0 2.206-1.626 4-3.625 4zm4.622 8a.887.887 0 00.878-.894c0-2.54-2.043-4.606-4.555-4.606h-1.86c-.643 0-1.265.148-1.844.413a6.226 6.226 0 011.76 4.336V21h5.621zm-7.122.562v-1.313a4.755 4.755 0 00-4.749-4.749H8.25A4.755 4.755 0 003.5 20.249v1.313c0 .518.421.938.937.938h12.125c.517 0 .938-.42.938-.938zM20.945 14C24.285 14 27 16.739 27 20.106a2.388 2.388 0 01-2.378 2.394h-5.81a2.44 2.44 0 01-2.25 1.5H4.437A2.44 2.44 0 012 21.562v-1.313A6.256 6.256 0 018.25 14h4.501a6.2 6.2 0 013.218.902A5.932 5.932 0 0119.084 14h1.861z")
      a(href="#")
        #watch
          svg(viewbox="0 0 28 28" height="28" width="28")
            path(d="M8.75 25.25C8.336 25.25 8 24.914 8 24.5 8 24.086 8.336 23.75 8.75 23.75L19.25 23.75C19.664 23.75 20 24.086 20 24.5 20 24.914 19.664 25.25 19.25 25.25L8.75 25.25ZM17.163 12.846 12.055 15.923C11.591 16.202 11 15.869 11 15.327L11 9.172C11 8.631 11.591 8.297 12.055 8.576L17.163 11.654C17.612 11.924 17.612 12.575 17.163 12.846ZM21.75 20.25C22.992 20.25 24 19.242 24 18L24 6.5C24 5.258 22.992 4.25 21.75 4.25L6.25 4.25C5.008 4.25 4 5.258 4 6.5L4 18C4 19.242 5.008 20.25 6.25 20.25L21.75 20.25ZM21.75 21.75 6.25 21.75C4.179 21.75 2.5 20.071 2.5 18L2.5 6.5C2.5 4.429 4.179 2.75 6.25 2.75L21.75 2.75C23.821 2.75 25.5 4.429 25.5 6.5L25.5 18C25.5 20.071 23.821 21.75 21.75 21.75Z")
      a(href="#")
        #group
          svg(viewbox="0 0 28 28" height="28" width="28")
            path(d="M25.5 14C25.5 7.649 20.351 2.5 14 2.5 7.649 2.5 2.5 7.649 2.5 14 2.5 20.351 7.649 25.5 14 25.5 20.351 25.5 25.5 20.351 25.5 14ZM27 14C27 21.18 21.18 27 14 27 6.82 27 1 21.18 1 14 1 6.82 6.82 1 14 1 21.18 1 27 6.82 27 14ZM7.479 14 7.631 14C7.933 14 8.102 14.338 7.934 14.591 7.334 15.491 6.983 16.568 6.983 17.724L6.983 18.221C6.983 18.342 6.99 18.461 7.004 18.578 7.03 18.802 6.862 19 6.637 19L6.123 19C5.228 19 4.5 18.25 4.5 17.327 4.5 15.492 5.727 14 7.479 14ZM20.521 14C22.274 14 23.5 15.492 23.5 17.327 23.5 18.25 22.772 19 21.878 19L21.364 19C21.139 19 20.97 18.802 20.997 18.578 21.01 18.461 21.017 18.342 21.017 18.221L21.017 17.724C21.017 16.568 20.667 15.491 20.067 14.591 19.899 14.338 20.067 14 20.369 14L20.521 14ZM8.25 13C7.147 13 6.25 11.991 6.25 10.75 6.25 9.384 7.035 8.5 8.25 8.5 9.465 8.5 10.25 9.384 10.25 10.75 10.25 11.991 9.353 13 8.25 13ZM19.75 13C18.647 13 17.75 11.991 17.75 10.75 17.75 9.384 18.535 8.5 19.75 8.5 20.965 8.5 21.75 9.384 21.75 10.75 21.75 11.991 20.853 13 19.75 13ZM15.172 13.5C17.558 13.5 19.5 15.395 19.5 17.724L19.5 18.221C19.5 19.202 18.683 20 17.677 20L10.323 20C9.317 20 8.5 19.202 8.5 18.221L8.5 17.724C8.5 15.395 10.441 13.5 12.828 13.5L15.172 13.5ZM16.75 9C16.75 10.655 15.517 12 14 12 12.484 12 11.25 10.655 11.25 9 11.25 7.15 12.304 6 14 6 15.697 6 16.75 7.15 16.75 9Z")
      a(href="#")
        #gaming
          svg(viewbox="0 0 28 28" height="28" width="28")
            path(d="M23.5 9.5H10.25a.75.75 0 00-.75.75v7c0 .414.336.75.75.75H17v5.5H4.5v-19h19v5zm0 14h-5v-6.25a.75.75 0 00-.75-.75H11V11h12.5v12.5zm1.5.25V4.25C25 3.561 24.439 3 23.75 3H4.25C3.561 3 3 3.561 3 4.25v19.5c0 .689.561 1.25 1.25 1.25h19.5c.689 0 1.25-.561 1.25-1.25z")
      a(href="#")
        #more
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.em6zcovv(viewbox="0 0 28 28" height="28" width="28")
            path(d="M23.5 4a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19zm0 18a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19zm0-9a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19z")
    div#headerLeft
      a(href="/")
        svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4(viewbox="0 0 36 36" fill="url(#jsc_c_2)" height="40" width="40")
          defs
            lineargradient#jsc_c_2(x1="50%" x2="50%" y1="97.0782153%" y2="0%")
              stop(offset="0%" stop-color="#0062E0")
              stop(offset="100%" stop-color="#19AFFF")
          path(d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z")
          path.p361ku9c(d="M25 23l.8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z")
      div &#xe802
      form(action="/post/hashtag")
        input(type="text" name="hashtag" placeholder="Facebook 검색")
    div#headerRight
      #user
        img(src=user.profileImg alt="")
        div= user.name
      #create(title="만들기") &#xe801
      //- #messenger(title="Messenger")
      //-   svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="20" width="20")
      //-     path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
      #alarm(title="알림")
        svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.fzdkajry(viewbox="0 0 28 28" alt="" height="20" width="20")
          path(d="M7.847 23.488C9.207 23.488 11.443 23.363 14.467 22.806 13.944 24.228 12.581 25.247 10.98 25.247 9.649 25.247 8.483 24.542 7.825 23.488L7.847 23.488ZM24.923 15.73C25.17 17.002 24.278 18.127 22.27 19.076 21.17 19.595 18.724 20.583 14.684 21.369 11.568 21.974 9.285 22.113 7.848 22.113 7.421 22.113 7.068 22.101 6.79 22.085 4.574 21.958 3.324 21.248 3.077 19.976 2.702 18.049 3.295 17.305 4.278 16.073L4.537 15.748C5.2 14.907 5.459 14.081 5.035 11.902 4.086 7.022 6.284 3.687 11.064 2.753 15.846 1.83 19.134 4.096 20.083 8.977 20.506 11.156 21.056 11.824 21.986 12.355L21.986 12.356 22.348 12.561C23.72 13.335 24.548 13.802 24.923 15.73Z")
      #account(title="계정") &#xe803
        #accountTab.invisible
          #myProfile
            div
              img(src=user.profileImg, alt="")
            div
              span= user.name
              span 내 프로필 보기
          .tabDivider
          form(action="/auth/logout" method="get")#logout
            div
              i
            div 로그아웃
          div
            | 개인정보처리방침  ·  약관  ·  광고  ·  AdChoices
            i.icon--adchoices
            |    ·  쿠키  ·  더 보기  ·  Facebook © 2020
  main
    #friendsListTab
      div
        span 채팅
        div
          div(title="설정, 도움말 등")
            svg(height="30px" width="30px" viewBox="0 0 36 36")
              g(id="settings" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                g(id="Settings")
                  polygon(id="Bounding-Box" points="0 36 36 36 36 0 0 0")
                  path(id="Fill-1" d="M18,11.00025 C14.1345,11.00025 11.0005,14.13425 11.0005,18.00025 C11.0005,21.86575 14.1345,24.99975 18,24.99975 C21.8655,24.99975 24.9995,21.86575 24.9995,18.00025 C24.9995,14.13425 21.8655,11.00025 18,11.00025 Z M31,17.42725 L31,18.57325 C31,19.14125 30.679,19.66025 30.171,19.91475 L28.638,20.68075 C28.2975,20.85125 28.0215,21.13725 27.8915,21.49475 C27.7675,21.83575 27.624,22.16775 27.4665,22.49175 C27.3,22.83375 27.286,23.23025 27.406,23.59175 L27.96,25.25225 C28.1395,25.79125 27.999,26.38575 27.5975,26.78725 L26.787,27.59775 C26.3855,27.99925 25.791,28.13975 25.2525,27.95975 L23.595,27.40725 C23.234,27.28725 22.837,27.30125 22.495,27.46775 C22.1705,27.62575 21.837,27.76975 21.4945,27.89425 C21.1355,28.02475 20.849,28.30125 20.6785,28.64275 L19.9145,30.17075 C19.6605,30.67875 19.141,31.00025 18.573,31.00025 L17.427,31.00025 C16.859,31.00025 16.3395,30.67875 16.0855,30.17075 L15.3215,28.64275 C15.151,28.30125 14.864,28.02475 14.5055,27.89425 C14.1625,27.76975 13.83,27.62575 13.505,27.46775 C13.163,27.30125 12.766,27.28725 12.405,27.40725 L10.7475,27.95975 C10.2085,28.13975 9.6145,27.99925 9.213,27.59775 L8.4025,26.78725 C8.0005,26.38575 7.8605,25.79125 8.04,25.25225 L8.594,23.59175 C8.714,23.23025 8.7,22.83375 8.5335,22.49175 C8.376,22.16775 8.2325,21.83575 8.1085,21.49475 C7.9785,21.13725 7.7025,20.85125 7.362,20.68075 L5.829,19.91475 C5.321,19.66025 5,19.14125 5,18.57325 L5,17.42725 C5,16.85875 5.321,16.33925 5.829,16.08525 L7.362,15.31925 C7.7025,15.14875 7.9785,14.86275 8.1085,14.50525 C8.2325,14.16425 8.376,13.83225 8.5335,13.50825 C8.7,13.16625 8.714,12.76975 8.594,12.40825 L8.04,10.74775 C7.8605,10.20875 8.0005,9.61475 8.4025,9.21275 L9.213,8.40275 C9.6145,8.00075 10.2085,7.86025 10.7475,8.04025 L12.405,8.59275 C12.766,8.71275 13.163,8.69875 13.505,8.53225 C13.83,8.37425 14.1625,8.23025 14.5055,8.10575 C14.864,7.97525 15.151,7.69875 15.3215,7.35725 L16.0855,5.82925 C16.3395,5.32125 16.859,5.00025 17.427,5.00025 L18.573,5.00025 C19.141,5.00025 19.6605,5.32125 19.9145,5.82925 L20.6785,7.35725 C20.849,7.69875 21.1355,7.97525 21.4945,8.10575 C21.837,8.23025 22.1705,8.37425 22.495,8.53225 C22.837,8.69875 23.234,8.71275 23.595,8.59275 L25.2525,8.04025 C25.791,7.86025 26.3855,8.00075 26.787,8.40275 L27.5975,9.21275 C27.999,9.61475 28.1395,10.20875 27.96,10.74775 L27.406,12.40825 C27.286,12.76975 27.3,13.16625 27.4665,13.50825 C27.624,13.83225 27.7675,14.16425 27.8915,14.50525 C28.0215,14.86275 28.2975,15.14875 28.638,15.31925 L30.171,16.08525 C30.679,16.33925 31,16.85875 31,17.42725 Z" fill="#000000")
          div(title="새 영상톡 모임 만들기")
            svg(height="30px" width="30px" viewBox="0 0 28 28")
              path(d="M7.00003 21H15.5556C17.2737 21 18.6667 19.607 18.6667 17.8889V10.1111C18.6667 8.393 17.2737 7 15.5556 7H7.00003C5.28192 7 3.88892 8.393 3.88892 10.1111V17.8889C3.88892 19.607 5.28192 21 7.00003 21ZM10.5 10.1111C10.5 9.68156 10.8482 9.33333 11.2778 9.33333C11.7074 9.33333 12.0556 9.68156 12.0556 10.1111V13.2222H15.1667C15.5962 13.2222 15.9445 13.5704 15.9445 14C15.9445 14.4296 15.5962 14.7778 15.1667 14.7778H12.0556V17.8889C12.0556 18.3184 11.7074 18.6667 11.2778 18.6667C10.8482 18.6667 10.5 18.3184 10.5 17.8889V14.7778H7.38892C6.95936 14.7778 6.61114 14.4296 6.61114 14C6.61114 13.5704 6.95936 13.2222 7.38892 13.2222H10.5V10.1111ZM23.7631 18.1996L20.867 16.7502C20.4719 16.5527 20.2222 16.1482 20.2222 15.7057V12.2951C20.2222 11.8529 20.4719 11.4481 20.867 11.2506L23.7631 9.80117C24.2807 9.54256 24.8889 9.919 24.8889 10.4977V17.5031C24.8889 18.0822 24.2807 18.4582 23.7631 18.1996")
          div
            svg(height="30px" width="30px" viewBox="0 0 36 36")
              g(id="compose" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                polygon(id="Fill-1" points="0 36 36 36 36 0 0 0")
                path(id="Fill-2" d="M15.047,20.26245 L15.9815,17.45445 C16.091,17.12495 16.276,16.82495 16.5215,16.57945 L27.486,5.60195 C28.29,4.79695 29.595,4.79695 30.399,5.60195 C31.2025,6.40645 31.202,7.70895 30.399,8.51345 L19.432,19.49345 C19.186,19.73945 18.886,19.92495 18.556,20.03495 L15.7555,20.96995 C15.318,21.11645 14.901,20.69995 15.047,20.26245 Z M24.005,28.00095 L12.001,28.00095 C9.791,28.00095 8,26.20945 8,23.99995 L8,11.99895 C8,9.78945 9.791,7.99845 12.001,7.99845 L19.0035,7.99745 C19.5555,7.99745 20.0035,8.44545 20.0035,8.99745 C20.0035,9.54995 19.5555,9.99795 19.0035,9.99795 L12.001,9.99845 C10.8965,9.99845 10.0005,10.89395 10.0005,11.99895 L10.0005,23.99995 C10.0005,25.10445 10.8965,26.00045 12.001,26.00045 L24.005,26.00045 C25.1095,26.00045 26.005,25.10445 26.005,23.99995 C26.005,23.99995 26.0045,17.55145 26.0045,16.99895 C26.0045,16.44645 26.4525,15.99845 27.005,15.99845 C27.557,15.99845 28.005,16.44645 28.005,16.99895 C28.005,17.55145 28.0055,23.99995 28.0055,23.99995 C28.0055,26.20945 26.2145,28.00095 24.005,28.00095 Z" fill="#000000")
      div
        div &#xe802
        form(action="/messenger/search")
          input(type="text" name="search" placeholder="Messenger 검색")
      div
        ul
          each room, index in rooms
            li
              div(class= index===currentRoomIdx ? 'currentRoom' : undefined)
                div
                  img(src=room.user.profileImg alt="")
                div
                  div= room.user.name
                  div
                    if room.messages[0] && room.messages[0].content
                      span= room.messages[0].content
                      -let timeText;
                      -const time = new Date(room.messages[0].createdAt);
                      -const now = new Date();
                      -if (time.getFullYear() === now.getFullYear()) timeText = `${time.getMonth()+1}월 ${time.getDate()}일`;
                      -else timeText = `${time.getFullYear()%100}. ${time.getMonth()+1}. ${time.getDate()}.`;
                      span &nbsp·&nbsp#{timeText}
                    else
                      span sample message
    div
      #friendHead
        div
          div
            img(src=currentRoom.user.profileImg, alt="")
          div
            span= currentRoom.user.name
            span
        div
          div(title="음성 통화 시작")
            svg(height="32px" width="32px" viewBox="0 0 36 36")
              g(id="phone" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                path(id="Fill-11" d="M12.8546683,23.0915802 C10.2003459,20.4371382 8.18827548,17.4933995 7.18895039,14.801598 C6.11677282,11.9134196 6.30082118,9.54827444 7.70754499,8.14106577 C8.38574404,7.46332572 9.22115105,6.9556194 9.80301228,6.64860076 C10.1768605,6.45174482 10.6202062,6.44887101 10.9902201,6.6495587 C12.2608248,7.33735708 14.2542027,9.8624776 14.6055242,11.228016 C14.6980277,11.5867632 14.6266131,11.9694589 14.4094936,12.2774354 L12.8029047,14.5630718 C12.7056083,14.7019726 12.682123,14.8820647 12.7415553,15.0406032 C13.4096892,16.8233229 14.2192144,18.3129141 15.9254961,20.01852 C17.6303399,21.7246049 19.1209399,22.5340612 20.904867,23.2027008 C21.0635129,23.2625718 21.2432476,23.2391024 21.3822424,23.1413929 L23.6205389,21.5679822 C23.9339963,21.3476569 24.313596,21.2868279 24.6572488,21.3696894 C26.1948195,21.7356211 28.7992956,23.6898115 29.3811568,24.9135753 C29.5474713,25.2637011 29.5388441,25.6674713 29.3576715,26.0209499 C29.0993327,26.5267404 28.5534185,27.4875506 27.8018877,28.2395308 C24.2474537,31.7915592 16.8807262,27.1187451 12.8546683,23.0915802" fill="#0099ff")
          div(title="영상 통화 시작")
            svg(height="32px" width="32px" viewBox="0 0 36 36")
              g(id="camcorder" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                path(id="original" d="M20,27 L9,27 C6.791,27 5,25.209 5,23 L5,13 C5,10.791 6.791,9 9,9 L20,9 C22.209,9 24,10.791 24,13 L24,23 C24,25.209 22.209,27 20,27 M30.5525,23.3995 L26.829,21.536 C26.321,21.282 26,20.762 26,20.193 L26,15.808 C26,15.2395 26.321,14.719 26.829,14.465 L30.5525,12.6015 C31.218,12.269 32,12.753 32,13.497 L32,22.504 C32,23.2485 31.218,23.732 30.5525,23.3995" fill="#0099ff")
          div(title="대화 정보")#roomInfo
            div.roomInfoActive
            svg(height="32px" width="32px" viewBox="0 0 36 36")
              g(id="info-circle" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                g(id="Group")
                  polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                  path(id="Fill-17" d="M18,10 C16.6195,10 15.5,11.119 15.5,12.5 C15.5,13.881 16.6195,15 18,15 C19.381,15 20.5,13.881 20.5,12.5 C20.5,11.119 19.381,10 18,10 Z M16,25 C16,25.552 16.448,26 17,26 L19,26 C19.552,26 20,25.552 20,25 L20,18 C20,17.448 19.552,17 19,17 L17,17 C16.448,17 16,17.448 16,18 L16,25 Z M18,30 C11.3725,30 6,24.6275 6,18 C6,11.3725 11.3725,6 18,6 C24.6275,6 30,11.3725 30,18 C30,24.6275 24.6275,30 18,30 Z" fill="#0099ff")
      div
        #chat
          div#messages
            each message in messages
              div
                //- system message
                if !message.userId
                  div.systemMsg= message.content
                //- user's message
                else if message.userId === user.id
                  div.myMsg= message.content
                //- friend's message
                else
                  div.friendMsg= message.content
          form#messageForm(data-rid=currentRoom.id)
            div
              svg(height="24" width="24" viewBox="0 0 24 24")
                g(fill="none" fill-rule="evenodd")
                  polygon(points="-6,30 30,30 30,-6 -6,-6 ")
                  path(d="m18,11l-5,0l0,-5c0,-0.552 -0.448,-1 -1,-1c-0.5525,0 -1,0.448 -1,1l0,5l-5,0c-0.5525,0 -1,0.448 -1,1c0,0.552 0.4475,1 1,1l5,0l0,5c0,0.552 0.4475,1 1,1c0.552,0 1,-0.448 1,-1l0,-5l5,0c0.552,0 1,-0.448 1,-1c0,-0.552 -0.448,-1 -1,-1m-6,13c-6.6275,0 -12,-5.3725 -12,-12c0,-6.6275 5.3725,-12 12,-12c6.627,0 12,5.3725 12,12c0,6.6275 -5.373,12 -12,12" style="fill: rgb(0, 153, 255);")
            div
              div
                svg(height="36px" width="36px" viewBox="0 0 36 36")
                  g(fill="none" fill-rule="evenodd")
                    polygon(points="0 36 36 36 36 0 0 0")
                    path(d="M27.002,13.5 L22.502,13.5 C21.95,13.5 21.502,13.948 21.502,14.5 L21.502,21.5 C21.502,22.052 21.95,22.5 22.502,22.5 C23.054,22.5 23.502,22.052 23.502,21.5 L23.502,19.5 L26.502,19.5 C27.054,19.5 27.502,19.052 27.502,18.5 C27.502,17.948 27.054,17.5 26.502,17.5 L23.502,17.5 L23.502,15.5 L27.002,15.5 C27.554,15.5 28.002,15.052 28.002,14.5 C28.002,13.948 27.554,13.5 27.002,13.5 Z M19.502,14.5 C19.502,13.948 19.054,13.5 18.502,13.5 C17.95,13.5 17.502,13.948 17.502,14.5 L17.502,21.5 C17.502,22.052 17.95,22.5 18.502,22.5 C19.054,22.5 19.502,22.052 19.502,21.5 L19.502,14.5 Z M14.963,16.9995 L12.502,17 C11.95,17 11.502,17.448 11.502,18 C11.502,18.552 11.95,19 12.502,19 L13.8855,19 C13.7835,20.1495 13.095,21 11.829,21 C10.3875,21 9.4925,19.725 9.4925,17.95 C9.4925,16.207 10.4655,14.9785 11.886,14.9785 C12.6395,14.9785 13.109,15.3665 13.4295,15.764 C13.6765,16.0695 14,16.229 14.353,16.229 C15.0175,16.229 15.574,15.5085 15.094,14.791 C14.471,13.859 13.335,13.25 11.8795,13.25 C9.179,13.25 7.502,15.2135 7.502,17.9735 C7.502,20.7655 9.071,22.75 11.798,22.75 C14.352,22.75 16.002,20.982 16.002,17.986 C16.002,17.441 15.5365,16.9995 14.963,16.9995 Z M27,30 L17,30 C15.811,30 14.7455,29.48 14.0135,28.656 C13.6395,28.235 13.1,28 12.537,28 L9,28 C6.791,28 5,26.209 5,24 L5,10 C5,7.791 6.791,6 9,6 L19,6 C20.189,6 21.2545,6.52 21.9865,7.3435 C22.3605,7.7645 22.9,8 23.463,8 L27,8 C29.209,8 31,9.791 31,12 L31,26 C31,28.209 29.209,30 27,30 Z" fill="#0099ff")
              div
                svg(height="36px" width="36px" viewBox="0 0 36 36")
                  g(fill="none" fill-rule="evenodd")
                    polygon(points="0 36 36 36 36 0 0 0")
                    path(d="M22.5,18.5 L27.998,18.5 C28.8885,18.5 29.335,19.577 28.705,20.207 L20.207,28.705 C19.577,29.335 18.5,28.8885 18.5,27.9975 L18.5,22.5 C18.5,20.291 20.291,18.5 22.5,18.5 M16.5,22.5 L16.5,28 C16.5,28.552 16.052,29 15.5,29 L11,29 C8.791,29 7,27.209 7,25 L7,11 C7,8.791 8.791,7 11,7 L25,7 C27.209,7 29,8.791 29,11 L29,15.5 C29,16.052 28.552,16.5 28,16.5 L22.5,16.5 C19.1865,16.5 16.5,19.1865 16.5,22.5" fill="#0099ff")
              div
                label
                  svg(height="36px" width="36px" viewBox="0 0 36 36")
                    g(fill="none" fill-rule="evenodd")
                      g(id="Group")
                        polygon(points="0 36 36 36 36 0 0 0")
                        path(d="M13.5,11 C12.1195,11 11,12.119 11,13.5 C11,14.881 12.1195,16 13.5,16 C14.8805,16 16,14.881 16,13.5 C16,12.119 14.8805,11 13.5,11 M26.638,21.467 L21.2375,18.767 C19.199,17.7485 16.801,17.7485 14.7625,18.767 L9.362,21.467 C9.1955,21.55 9,21.429 9,21.243 L9,11 C9,9.8955 9.8955,9 11,9 L25,9 C26.1045,9 27,9.8955 27,11 L27,21.243 C27,21.429 26.8045,21.55 26.638,21.467 M25,7 L11,7 C8.7905,7 7,8.791 7,11 L7,25 C7,27.209 8.7905,29 11,29 L25,29 C27.209,29 29,27.209 29,25 L29,11 C29,8.791 27.209,7 25,7" fill="#0099ff")
                  input#img.invisible(type="file", accept="image/*")
            div
              input#fidInput(type="hidden" name="friendId" value=currentRoom.user.id)
              input#msgInput(type="text" name="message" placeholder="메시지를 입력하세요...")
              svg(height="24px" width="24px" viewBox="0 0 26 26")
                g(fill="none" fill-rule="evenodd")
                  polygon(points="0,26 26,26 26,0 0,0 ")
                  path(d="m19.1311,16.73095c-0.4325,-0.3545 -1.0775,-0.302 -1.441,0.122c-1.171,1.3615 -2.883,2.142 -4.697,2.142c-1.8135,0 -3.526,-0.7805 -4.697,-2.142c-0.363,-0.4225 -1.008,-0.4765 -1.441,-0.122c-0.432,0.355 -0.488,0.986 -0.1245,1.408c1.5605,1.8145 3.8435,2.855 6.2625,2.855c2.4195,0 4.702,-1.0405 6.2625,-2.855c0.3635,-0.422 0.3075,-1.053 -0.1245,-1.408m-2.1355,-7.731c-0.9375,0 -1.5,0.75 -1.5,2c0,1.25 0.5625,2 1.5,2c0.9375,0 1.5,-0.75 1.5,-2c0,-1.25 -0.5625,-2 -1.5,-2m-8,0c-0.9375,0 -1.5,0.75 -1.5,2c0,1.25 0.5625,2 1.5,2c0.9375,0 1.5,-0.75 1.5,-2c0,-1.25 -0.5625,-2 -1.5,-2m4.0045,16c-6.6275,0 -12,-5.3725 -12,-12c0,-6.6275 5.3725,-12 12,-12c6.6275,0 12,5.3725 12,12c0,6.6275 -5.3725,12 -12,12" fill="#0099ff")
            div
              svg(height="36px" width="36px" viewBox="0 1 36 36")
                path(d="M10,30 L7.75,30 C6.625,30 6,27.7515306 6,23.3673469 C6,18.9831633 6.625,16.7346939 7.75,16.7346939 L10,16.7346939 C10.552,16.7346939 11,17.1918367 11,17.755102 L11,28.9795918 C11,29.5428571 10.552,30 10,30 M17,6.02040816 C17,5.44540816 17.4195,5.00255102 18,5 C19.2035,5 22,5.79081633 22,10.6122449 C22,12.2443878 21.8015,13.130102 21.7195,13.7163265 C21.719,13.7183673 21.719,13.7204082 21.7185,13.722449 C21.6865,13.9566327 21.872,14.1647959 22.113,14.1647959 C26.908,14.1647959 29.469,15.4336735 29.469,16.7290816 C29.469,17.3612245 29.211,17.9321429 28.7975,18.3535714 C29.513,18.7591837 30,19.5091837 30,20.3780612 C30,21.3642857 29.4255,22.2045918 28.5475,22.5515306 C28.821,22.9326531 28.9845,23.3954082 28.9845,23.8969388 C28.9845,24.9704082 28.3395,25.8653061 27.3365,26.1438776 C27.4285,26.377551 27.4845,26.6290816 27.4845,26.8943878 C27.4845,28.0459184 25.5485,28.9795918 21,28.9795918 C17.675,28.9795918 15.3815,28.3857143 14.5,27.9591837 C13.851,27.6454082 13,27.0770408 13,25.4081633 L13,18.7755102 C13,15.0403061 17.25,13.7760204 17.25,10.1020408 C17.25,7.78826531 17,6.81326531 17,6.02040816" fill="#0099ff")
        #roomOptions
          div
            div
              img(src=currentRoom.user.profileImg alt="")
            div= currentRoom.user.name
            div
          div
            span 옵션 더 보기
            div.icon--more
          div
            span 관리 및 지원
            div.icon--more
    
    script(src="/js/messenger/messenger.js")
    script(src="/socket.io/socket.io.js")
    script.
      const userSocket = io.connect('http://localhost:8000/user', { path: '/socket.io' });
      const chatSocket = io.connect('http://localhost:8000/chat', { path: '/socket.io' });

      userSocket.on('message', (data) => {
        
      });

      chatSocket.on('message', (data) => {
        const outerdiv = document.createElement('div');
        const innerDiv = document.createElement('div');
        if (data.userId === parseInt('#{user.id}', 10)) innerDiv.classList.add('myMsg');
        else if (!data.userId) innerDiv.classList.add('systemMsg');
        else innerDiv.classList.add('friendMsg');
        innerDiv.textContent = data.content;
        outerdiv.appendChild(innerDiv);
        document.getElementById('messages').appendChild(outerdiv);
      })
      