extends profile

block append css
  link(rel="stylesheet", href="/css/profile/friend/style.css")

block append content
  div#main
    div#profileFriend
      div.postEffects
        div
          span 친구
        div
          each friend in friends
            div
              a(href=`/profile/${friend.id}`)
                img.accountHoverTabTrigger(src=friend.profileImg, alt="")
              a(href=`/profile/${friend.id}`)
                span.accountHoverTabTrigger= friend.name
              if myFollowings[friend.id]
                if myFollowings[friend.id].accepted
                  div.friendBtn
                    span 친구
                    .friendOptTab.invisible
                      div.unfriendBtn(data-uid=friend.id)
                        i
                        span 친구 끊기
                    div
                  .accountHoverTab.invisible
                    div
                      div
                        a(href=`/profile/${friend.id}`)
                          img(src=friend.profileImg alt="")
                      div 
                        a(href=`/profile/${friend.id}`)
                          span= friend.name
                    div
                      div
                        svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
                          path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
                        span 메세지 보내기
                      div.friendBtn(title="친구")
                        img(src="/images/main/mainCenter/friend.png", alt="친구")
                        .friendOptTab.invisible(title="")
                          div.unfriendBtn(data-uid=friend.id)
                            i
                            span 친구 끊기
                      div
                        img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
                else 
                  div
                    span 친구 요청됨
                    div
                  .accountHoverTab.invisible
                    div
                      div
                        a(href=`/profile/${friend.id}`)
                          img(src=friend.profileImg alt="")
                      div 
                        a(href=`/profile/${friend.id}`)
                          span= friend.name
                    div
                      div.friendRequestedBtn(data-uid=friend.id)
                        img(src="/images/main/mainCenter/addFriend.png", alt="친추")
                        span 친구 요청됨
                      div(title="메세지 보내기")
                        svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
                          path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
                      div
                        img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
              else if myFollowers[friend.id]
                div.acceptFriendBtn(data-uid=friend.id)
                  span 응답하기
                  div
                .accountHoverTab.invisible
                  div
                    div
                      a(href=`/profile/${friend.id}`)
                        img(src=friend.profileImg alt="")
                    div 
                      a(href=`/profile/${friend.id}`)
                        span= friend.name
                  div
                    div.acceptFriendBtn(data-uid=friend.id)
                      img(src="/images/main/mainCenter/friend.png", alt="친구")
                      span 응답하기
                    div(title="메세지 보내기")
                      svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
                        path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
                    div
                      img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
              else
                div.addFriendBtn(data-uid=friend.id)
                  span 친구 추가
                  div
                .accountHoverTab.invisible
                  div
                    div
                      a(href=`/profile/${friend.id}`)
                        img(src=friend.profileImg alt="")
                    div 
                      a(href=`/profile/${friend.id}`)
                        span= friend.name
                  div
                    div.addFriendBtn(data-uid=friend.id)
                      img(src="/images/main/mainCenter/addFriend.png", alt="친추")
                      span 친구 추가
                    div(title="메세지 보내기")
                      svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
                        path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
                    div
                      img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")

block append script
  script(src="/js/profile/friend.js")
