extends layout

block append css
  link(rel="stylesheet" href="/css/photoDetail/style.css")

block content
  div#postDetail
    div#postDetailLeft
      div#PDHeaderLeft
        div.exitBtn(title="닫으려면 Esc 키를 누르세요")
          i
        a(href="/")
          svg.ms05siws.hwsy1cff.b7h9ocf4(viewbox="0 0 36 36" fill="url(#jsc_c_2)" height="40" width="40")
            defs
              lineargradient#jsc_c_2(x1="50%" x2="50%" y1="97.0782153%" y2="0%")
                stop(offset="0%" stop-color="#0062E0")
                stop(offset="100%" stop-color="#19AFFF")
            path(d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z")
            path.p361ku9c(d="M25 23l.8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z")
      div.fullscreenBtn(title="전체 화면으로 보기")
        i
      if photoIdx > 0
        a(href=`/photo/${post.photos[photoIdx - 1].id}`)#prevBtn
          div
            i
      div#photoArea
        img(src=photo.url)
      if photoIdx < post.photos.length - 1
        a(href=`/photo/${post.photos[photoIdx + 1].id}`)#nextBtn
          div
            i
    div#postDetailRight
      div#PDHeaderRight
        #create(title="만들기")
          span &#xe801
        #messenger(title="Messenger")
          span#unreadMessageCount(class= unreadMessageCount ? undefined : "invisible")= unreadMessageCount
          a(href="/messenger")
            svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="20" width="20")
              path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
        #alarm(title="알림")
          -
            const unreadAlarmCount = alarms.reduce((acc, alarm) => {
              return alarm.isRead ? acc : acc + 1;
            }, 0);
          span#unreadAlarmCount(class= unreadAlarmCount ? undefined : "invisible")= unreadAlarmCount
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.fzdkajry(viewbox="0 0 28 28" alt="" height="20" width="20")
            path(d="M7.847 23.488C9.207 23.488 11.443 23.363 14.467 22.806 13.944 24.228 12.581 25.247 10.98 25.247 9.649 25.247 8.483 24.542 7.825 23.488L7.847 23.488ZM24.923 15.73C25.17 17.002 24.278 18.127 22.27 19.076 21.17 19.595 18.724 20.583 14.684 21.369 11.568 21.974 9.285 22.113 7.848 22.113 7.421 22.113 7.068 22.101 6.79 22.085 4.574 21.958 3.324 21.248 3.077 19.976 2.702 18.049 3.295 17.305 4.278 16.073L4.537 15.748C5.2 14.907 5.459 14.081 5.035 11.902 4.086 7.022 6.284 3.687 11.064 2.753 15.846 1.83 19.134 4.096 20.083 8.977 20.506 11.156 21.056 11.824 21.986 12.355L21.986 12.356 22.348 12.561C23.72 13.335 24.548 13.802 24.923 15.73Z")
        #account(title="계정")
          span &#xe803
      div.headerDummy
      div#postArea.custom-scroll
        -
          const units = ['분', '시간', '일'];
          const timeNow = new Date();
        div
          //- post head
          div.postHeader.accountHoverTabData(data-post-author-id=post.user.id)
            div
              a.accountHoverTabTrigger(href=`/profile/${post.user.id}`)
                img(src=post.user.profilePhoto alt="")
            div
              a.accountHoverTabTrigger(href=`/profile/${post.user.id}`)
                span= post.user.name
              -
                const timeCreated = new Date(post.createdAt);
                const timeArr = [];
                let timeElapsed = (timeNow - timeCreated) / 1000; // sec
                timeElapsed /= 60;
                timeArr.push(Math.floor(timeElapsed % 60)); // min
                timeElapsed /= 60;
                timeArr.push(Math.floor(timeElapsed % 24)); // hour
                timeArr.push(Math.floor(timeElapsed /= 24)); // day
                let timeText;

                if (timeArr[2] > 6) {
                  // 작성 시간으로 표시
                  timeText = timeNow.getFullYear() === timeCreated.getFullYear() ? '' : `${timeCreated.getFullYear()}년`;
                  timeText += `${timeCreated.getMonth() + 1}월 ${timeCreated.getDate()}일`;
                } else {
                  // 경과 시간으로 표시
                  timeText = timeArr.reduce((acc, time, idx) => {
                    return time > 0 ? acc = `${time}${units[idx]}` : acc;
                  }, '');
                  if (!timeText) timeText = '1분';
                }
              span #{timeText}

          //- post main
          div.postMain
            div= post.content
          //- number of likes and comments
          div
            .numLike(title="좋아요\n" + likes.posts[post.id].name.join('\n'))
              if likes.posts[post.id].id.length
                img(src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%2318AFFF'/%3e%3cstop offset='100%25' stop-color='%230062DF'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0'/%3e%3c/filter%3e%3cpath id='b' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z'/%3e%3c/g%3e%3c/svg%3e", alt="like-icon")
                span(title=likes.posts[post.id].name.join('\n'))= likes.posts[post.id].id.length
            .numComment
              if post.comments.length
                span 댓글 #{post.comments.length}개
          //- buttons for extra functions(like, comment, share)
          div
            div.likePostBtn(data-post-id=post.id)
              if likes.posts[post.id].id.includes(user.id)
                span.icon--liked
                div.text-liked 좋아요
              else
                span.icon--like
                div 좋아요
            div.commentBtn
              span.icon--comment
              div 답글 달기
            div
              span.icon--share
              div 공유하기
          //- comment area
          div.commentSection.commentSticky
            div
              if post.comments.length
                each comment in post.comments
                  div.commentItem.accountHoverTabData(data-depth=comment.depth data-comment-author-id=comment.id)
                    a.accountHoverTabTrigger(href=`/profile/${comment.user.id}`)
                      img(src=comment.user.profilePhoto, alt="")
                    div
                      div
                        div
                          a.accountHoverTabTrigger(href=`/profile/${comment.user.id}`)
                            span= comment.user.name
                          div.commentContent= comment.content
                          if likes.comments[comment.id] && likes.comments[comment.id].id.length
                            div(title=likes.comments[comment.id].name.join('\n'))
                              img(src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 16 16'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='0%25' y2='100%25'%3e%3cstop offset='0%25' stop-color='%2318AFFF'/%3e%3cstop offset='100%25' stop-color='%230062DF'/%3e%3c/linearGradient%3e%3cfilter id='c' width='118.8%25' height='118.8%25' x='-9.4%25' y='-9.4%25' filterUnits='objectBoundingBox'%3e%3cfeGaussianBlur in='SourceAlpha' result='shadowBlurInner1' stdDeviation='1'/%3e%3cfeOffset dy='-1' in='shadowBlurInner1' result='shadowOffsetInner1'/%3e%3cfeComposite in='shadowOffsetInner1' in2='SourceAlpha' k2='-1' k3='1' operator='arithmetic' result='shadowInnerInner1'/%3e%3cfeColorMatrix in='shadowInnerInner1' values='0 0 0 0 0 0 0 0 0 0.299356041 0 0 0 0 0.681187726 0 0 0 0.3495684 0'/%3e%3c/filter%3e%3cpath id='b' d='M8 0a8 8 0 00-8 8 8 8 0 1016 0 8 8 0 00-8-8z'/%3e%3c/defs%3e%3cg fill='none'%3e%3cuse fill='url(%23a)' xlink:href='%23b'/%3e%3cuse fill='black' filter='url(%23c)' xlink:href='%23b'/%3e%3cpath fill='white' d='M12.162 7.338c.176.123.338.245.338.674 0 .43-.229.604-.474.725a.73.73 0 01.089.546c-.077.344-.392.611-.672.69.121.194.159.385.015.62-.185.295-.346.407-1.058.407H7.5c-.988 0-1.5-.546-1.5-1V7.665c0-1.23 1.467-2.275 1.467-3.13L7.361 3.47c-.005-.065.008-.224.058-.27.08-.079.301-.2.635-.2.218 0 .363.041.534.123.581.277.732.978.732 1.542 0 .271-.414 1.083-.47 1.364 0 0 .867-.192 1.879-.199 1.061-.006 1.749.19 1.749.842 0 .261-.219.523-.316.666zM3.6 7h.8a.6.6 0 01.6.6v3.8a.6.6 0 01-.6.6h-.8a.6.6 0 01-.6-.6V7.6a.6.6 0 01.6-.6z'/%3e%3c/g%3e%3c/svg%3e", alt="like-icon")
                              span= likes.comments[comment.id].id.length
                        //- edit and delete btns
                        div
                          if comment.user.id === user.id
                            div.commentMoreBtn
                              i
                              div.commentMoreTab.invisible(data-comment-id=comment.id data-post-id=comment.postId)
                                div.editCommentBtn 
                                  span 수정
                                div.deleteCommentBtn 
                                  span 삭제
                      div
                        if likes.comments[comment.id] && likes.comments[comment.id].id.includes(user.id)
                          span.likeCommentBtn.text-liked(data-comment-id=comment.id data-post-id=comment.postId) 좋아요
                        else
                          span.likeCommentBtn(data-comment-id=comment.id data-post-id=comment.postId) 좋아요
                        |  · 
                        span.replyBtn(data-replying-id=comment.id) 답글 달기
                        |  · 
                        -
                          const timeCreated = new Date(comment.createdAt);
                          const timeArr = [];
                          let timeElapsed = (timeNow - timeCreated) / 1000; // sec
                          timeElapsed /= 60;
                          timeArr.push(Math.floor(timeElapsed % 60)); // min
                          timeElapsed /= 60;
                          timeArr.push(Math.floor(timeElapsed % 24)); // hour
                          timeArr.push(Math.floor(timeElapsed /= 24)); // day
                          let timeText;

                          if (timeArr[2] > 6) {
                            // 작성 시간으로 표시
                            timeText = timeNow.getFullYear() === timeCreated.getFullYear() ? '' : `${timeCreated.getFullYear()}년`;
                            timeText += `${timeCreated.getMonth() + 1}월 ${timeCreated.getDate()}일`;
                          } else {
                            // 경과 시간으로 표시
                            timeText = timeArr.reduce((acc, time, idx) => {
                              return time > 0 ? acc = `${time}${units[idx]}` : acc;
                            }, '');
                            if (!timeText) timeText = '1분';
                          }
                        span #{timeText}

            .newCommentTab
              form.commentForm(action="/comment" method="post")
                label
                  img(src=user.profilePhoto alt="")
                  div
                    div
                      input(type="text", name="content" placeholder="댓글을 입력하세요..." required)
                input(type='hidden' name="postId" value=post.id)

  #accountHoverTab.invisible
    div
      div
        a
          img
      div 
        a
          span
    div(data-user-id)
      //- myself
      div#myAHTab.invisible
        div.editProfileBtn
          img(src="/images/main/mainCenter/editProfile.png", alt="")
          span 프로필 편집
      //- friend
      div#friendAHTab.invisible
        div
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
            path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
          span 메세지 보내기
        div.friendOptBtn(title="친구")
          img(src="/images/main/mainCenter/friend.png", alt="친구")
          .friendOptTab.invisible(title="")
            div.unfriendBtn
              i
              span 친구 끊기
        div
          img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
      //- following
      div#friendAddedAHTab.invisible
        div.friendRequestedBtn.unfriendBtn
          img(src="/images/main/mainCenter/addFriend.png", alt="친추")
          span 친구 요청됨
        div(title="메세지 보내기")
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
            path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
        div
          img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
      //- followed
      div#confirmAHTab.invisible
        div.acceptFriendBtn
          img(src="/images/main/mainCenter/friend.png", alt="친구")
          span 응답하기
        div(title="메세지 보내기")
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
            path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
        div
          img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")
      //- default
      div#defaultAHTab
        div.addFriendBtn
          img(src="/images/main/mainCenter/addFriend.png", alt="친추")
          span 친구 추가
        div(title="메세지 보내기")
          svg.a8c37x1j.ms05siws.hwsy1cff.b7h9ocf4.eltiug27(viewbox="0 0 28 28" alt="" height="18" width="18")
            path(d="M14 2.042c6.76 0 12 4.952 12 11.64S20.76 25.322 14 25.322a13.091 13.091 0 0 1-3.474-.461.956 .956 0 0 0-.641.047L7.5 25.959a.961.961 0 0 1-1.348-.849l-.065-2.134a.957.957 0 0 0-.322-.684A11.389 11.389 0 0 1 2 13.682C2 6.994 7.24 2.042 14 2.042ZM6.794 17.086a.57.57 0 0 0 .827.758l3.786-2.874a.722.722 0 0 1 .868 0l2.8 2.1a1.8 1.8 0 0 0 2.6-.481l3.525-5.592a.57.57 0 0 0-.827-.758l-3.786 2.874a.722.722 0 0 1-.868 0l-2.8-2.1a1.8 1.8 0 0 0-2.6.481Z")
        div
          img(src="/images/main/mainCenter/BOCzaD2rwOa.png", alt="더보기")

  #newPostTab.invisible
    div
    form(action="/post")
      div 게시물 만들기
        div#newPostCloseBtn
          i
          input#newPostResetBtn.invisible(type="reset")
      div
        div
          img(src=user.profilePhoto, alt="로그인 유저 이미지")
          span #{user.name}
        div.custom-scroll
          textarea.postContent(name="content", row=2 placeholder=`${user.name}님, 무슨 생각을 하고 계신가요?`)
          div.photoPreviewArea
          input.photoIds(type='hidden' name='photoIds')
      div
        div
          span 게시물에 추가
          label
            input.photos.invisible(type="file" accept="image/*" multiple)
            div(title="사진")
              i.icon--photo
        button#postBtn(type="submit" disabled) 게시

  #createTab.invisible
    div
      span 만들기
    div
      #createPostBtn
        div
          i
        div
          span 게시물
          span 뉴스피드에 게시물을 공유합니다
        div

  #alarmTab.custom-scroll.invisible
    div
      span 알림
    div
      each alarm in alarms
        div.alarm
          div
            img(src=alarm.Sender.profilePhoto, alt="")
          div(class= alarm.isRead ? undefined : "unread" data-alarm-id=alarm.id)
            span 
              span #{alarm.Sender.name}
              | #{alarmContent[alarm.type]}
            -
              const timeDiff = (new Date() - new Date(alarm.createdAt)) / 60000; // min diff
              const dayDiff = timeDiff / 1440; // day diff
              let timeText;
              if (dayDiff < 1) {
                timeText = timeDiff < 1 ? '방금 전' : timeDiff < 60 ? `${Math.floor(timeDiff)}분 전` : `${Math.floor(timeDiff/60)}시간 전`;
              } else if (dayDiff < 7) {
                timeText = `${Math.floor(dayDiff)}일 전`;
              } else {
                timeText = `${Math.floor(dayDiff/7)}주 전`;
              }
            span= timeText
            if alarm.type === 'confirmFriend'
              div(data-sender-id=alarm.Sender.id)
                div.confirmFriendBtn 확인
                div.deleteFriendBtn 삭제
          div
      if !alarms.length
        #noAlarm 새로운 알람이 없습니다!

  #accountTab.invisible
    a#myProfile(href=`/profile/${user.id}`)
      div
        img(src=user.profilePhoto, alt="")
      div
        span= user.name
        span 내 프로필 보기
      div
    .tabDivider
    form#logout(action="/user/logout" method="get")
      div
        i
      div 로그아웃
      div
    div
      | 개인정보처리방침  ·  약관  ·  광고  ·  AdChoices
      i.icon--adchoices
      |    ·  쿠키  ·  더 보기  ·  Facebook © 2020

block append script
  script(src="/js/photoDetail/photoDetail.js" type="module")
  script(src="/js/includes/timeline.js" type="module")
  script(src="/js/includes/fbHeader.js" type="module")
  script(src="/socket.io/socket.io.js")
  script(type="module").
    import { updateAlarmTab, updateMessageCount } from '/js/includes/fbHeader.js';
    const userSocket = io.connect('/user', { forceNew: true, path: '/socket.io' });

    userSocket.on('msgPosted', updateMessageCount);
    userSocket.on('likePosted', updateAlarmTab);
    userSocket.on('commentPosted', updateAlarmTab);
    userSocket.on('confirmFriend', updateAlarmTab);
    userSocket.on('friendConfirmed', updateAlarmTab);