extends layout

block append css
  link(rel="stylesheet", href="/css/includes/fbHeader.css")
  link(rel="stylesheet" href="/css/profile/style.css")

block content
  include includes/fbHeader.pug

  div#profileOutline
    div
      div
        div
          img(src=targetUser.profilePhoto, alt="")
        if targetUser.id === user.id
          div#profilePhotoUpdateBtn
            i
    div
      h1= targetUser.name
    div
      span 소개 추가
  div.divider
    div
  div#profileMenu
    div
      div
        a(href= selected==='timeline' ? undefined : `/profile/${targetUser.id}`)
          div(class= selected==='timeline' ? 'selected' : undefined)
            span 타임라인
        a
          div
            span 정보
        a(href= selected==='friend' ? undefined : `/profile/${targetUser.id}/friend`)
          div(class= selected==='friend' ? 'selected' : undefined)
            span 친구
        a(href= selected==='photo' ? undefined : `/profile/${targetUser.id}/photo`)
          div(class= selected==='photo' ? 'selected' : undefined)
            span 사진
        a
          div
            span 보관함
        a
          div
            span 동영상
        a
          div
            span 더 보기
            i
      div
        div
          img(src="/images/profile/edit.png", alt="")
          span 프로필 편집
        div
          img(src="/images/profile/preview.png", alt="")
        div
          img(src="/images/profile/search.png", alt="")
        div
          i

  //- 프로필 이미지 업데이트 창
  if targetUser.id === user.id
    div#profilePhotoUpdateTab.invisible
      div
      form
        div 프로필 사진 업데이트
          div#profilePhotoUpdateCloseBtn
            div
        div.custom-scroll
          div
            div
              span 업로드한 사진
              label + 사진 업로드
                input.uploadPhoto.invisible(type="file", accept="image/*" multiple)
                div
            div.profilePhotoCandidate
              div.invisible
                div
                  img
                  div
        div
          button#updateBtn(type="submit" disabled) 저장


block append script
  script(src="/js/includes/fbHeader.js" type="module")
  script(src="/js/profile/profile.js" type="module")
  script(src="/socket.io/socket.io.js")
  //- script.
  script(type="module").
    import { displayNewPostTab, photoUploadEventHandler, updateAlarmTab, updateMessageCount } from '/js/includes/fbHeader.js';
    import { hideProfilePhotoUpdateTab } from '/js/profile/profile.js'
    const userSocket = io.connect('/user', { forceNew: true, path: '/socket.io' });

    userSocket.on('msgPosted', updateMessageCount);
    userSocket.on('likePosted', updateAlarmTab);
    userSocket.on('commentPosted', updateAlarmTab);
    userSocket.on('confirmFriend', updateAlarmTab);
    userSocket.on('friendConfirmed', updateAlarmTab);

    // 사진 업로드 이벤트 핸들러
    // new photos uploading event handler
    const uploadPhotos = document.querySelectorAll('.uploadPhoto');
    uploadPhotos.forEach((uploadPhoto) => {
      uploadPhoto.addEventListener('change', (e) => {
        let elem = e.target;
        while (elem.id !== 'profilePhotoUpdateTab') {
          elem = elem.parentNode;
          if (elem.nodeName === 'BODY') {
            elem = null;
            break;
          }
        }
        if (elem) hideProfilePhotoUpdateTab();
        displayNewPostTab();
        photoUploadEventHandler(e);
      });
    })
