extends layout

block append css
  link(rel="stylesheet", href="/css/includes/fbHeader.css")
  link(rel="stylesheet" href="/css/messenger/style.css")

block content
  include includes/fbHeader.pug
  
  main
    #friendsListTab
      div
        span 채팅
        div
          div(title="설정, 도움말 등")
            svg(height="30px" width="30px" viewBox="0 0 36 36")
              g(id="settings" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                g(id="Settings")
                  polygon(id="Bounding-Box" points="0 36 36 36 36 0 0 0")
                  path(id="Fill-1" d="M18,11.00025 C14.1345,11.00025 11.0005,14.13425 11.0005,18.00025 C11.0005,21.86575 14.1345,24.99975 18,24.99975 C21.8655,24.99975 24.9995,21.86575 24.9995,18.00025 C24.9995,14.13425 21.8655,11.00025 18,11.00025 Z M31,17.42725 L31,18.57325 C31,19.14125 30.679,19.66025 30.171,19.91475 L28.638,20.68075 C28.2975,20.85125 28.0215,21.13725 27.8915,21.49475 C27.7675,21.83575 27.624,22.16775 27.4665,22.49175 C27.3,22.83375 27.286,23.23025 27.406,23.59175 L27.96,25.25225 C28.1395,25.79125 27.999,26.38575 27.5975,26.78725 L26.787,27.59775 C26.3855,27.99925 25.791,28.13975 25.2525,27.95975 L23.595,27.40725 C23.234,27.28725 22.837,27.30125 22.495,27.46775 C22.1705,27.62575 21.837,27.76975 21.4945,27.89425 C21.1355,28.02475 20.849,28.30125 20.6785,28.64275 L19.9145,30.17075 C19.6605,30.67875 19.141,31.00025 18.573,31.00025 L17.427,31.00025 C16.859,31.00025 16.3395,30.67875 16.0855,30.17075 L15.3215,28.64275 C15.151,28.30125 14.864,28.02475 14.5055,27.89425 C14.1625,27.76975 13.83,27.62575 13.505,27.46775 C13.163,27.30125 12.766,27.28725 12.405,27.40725 L10.7475,27.95975 C10.2085,28.13975 9.6145,27.99925 9.213,27.59775 L8.4025,26.78725 C8.0005,26.38575 7.8605,25.79125 8.04,25.25225 L8.594,23.59175 C8.714,23.23025 8.7,22.83375 8.5335,22.49175 C8.376,22.16775 8.2325,21.83575 8.1085,21.49475 C7.9785,21.13725 7.7025,20.85125 7.362,20.68075 L5.829,19.91475 C5.321,19.66025 5,19.14125 5,18.57325 L5,17.42725 C5,16.85875 5.321,16.33925 5.829,16.08525 L7.362,15.31925 C7.7025,15.14875 7.9785,14.86275 8.1085,14.50525 C8.2325,14.16425 8.376,13.83225 8.5335,13.50825 C8.7,13.16625 8.714,12.76975 8.594,12.40825 L8.04,10.74775 C7.8605,10.20875 8.0005,9.61475 8.4025,9.21275 L9.213,8.40275 C9.6145,8.00075 10.2085,7.86025 10.7475,8.04025 L12.405,8.59275 C12.766,8.71275 13.163,8.69875 13.505,8.53225 C13.83,8.37425 14.1625,8.23025 14.5055,8.10575 C14.864,7.97525 15.151,7.69875 15.3215,7.35725 L16.0855,5.82925 C16.3395,5.32125 16.859,5.00025 17.427,5.00025 L18.573,5.00025 C19.141,5.00025 19.6605,5.32125 19.9145,5.82925 L20.6785,7.35725 C20.849,7.69875 21.1355,7.97525 21.4945,8.10575 C21.837,8.23025 22.1705,8.37425 22.495,8.53225 C22.837,8.69875 23.234,8.71275 23.595,8.59275 L25.2525,8.04025 C25.791,7.86025 26.3855,8.00075 26.787,8.40275 L27.5975,9.21275 C27.999,9.61475 28.1395,10.20875 27.96,10.74775 L27.406,12.40825 C27.286,12.76975 27.3,13.16625 27.4665,13.50825 C27.624,13.83225 27.7675,14.16425 27.8915,14.50525 C28.0215,14.86275 28.2975,15.14875 28.638,15.31925 L30.171,16.08525 C30.679,16.33925 31,16.85875 31,17.42725 Z" fill="#000000")
          div(title="새 영상톡 모임 만들기")
            svg(height="30px" width="30px" viewBox="0 0 28 28")
              path(d="M7.00003 21H15.5556C17.2737 21 18.6667 19.607 18.6667 17.8889V10.1111C18.6667 8.393 17.2737 7 15.5556 7H7.00003C5.28192 7 3.88892 8.393 3.88892 10.1111V17.8889C3.88892 19.607 5.28192 21 7.00003 21ZM10.5 10.1111C10.5 9.68156 10.8482 9.33333 11.2778 9.33333C11.7074 9.33333 12.0556 9.68156 12.0556 10.1111V13.2222H15.1667C15.5962 13.2222 15.9445 13.5704 15.9445 14C15.9445 14.4296 15.5962 14.7778 15.1667 14.7778H12.0556V17.8889C12.0556 18.3184 11.7074 18.6667 11.2778 18.6667C10.8482 18.6667 10.5 18.3184 10.5 17.8889V14.7778H7.38892C6.95936 14.7778 6.61114 14.4296 6.61114 14C6.61114 13.5704 6.95936 13.2222 7.38892 13.2222H10.5V10.1111ZM23.7631 18.1996L20.867 16.7502C20.4719 16.5527 20.2222 16.1482 20.2222 15.7057V12.2951C20.2222 11.8529 20.4719 11.4481 20.867 11.2506L23.7631 9.80117C24.2807 9.54256 24.8889 9.919 24.8889 10.4977V17.5031C24.8889 18.0822 24.2807 18.4582 23.7631 18.1996")
          div
            svg(height="30px" width="30px" viewBox="0 0 36 36")
              g(id="compose" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                polygon(id="Fill-1" points="0 36 36 36 36 0 0 0")
                path(id="Fill-2" d="M15.047,20.26245 L15.9815,17.45445 C16.091,17.12495 16.276,16.82495 16.5215,16.57945 L27.486,5.60195 C28.29,4.79695 29.595,4.79695 30.399,5.60195 C31.2025,6.40645 31.202,7.70895 30.399,8.51345 L19.432,19.49345 C19.186,19.73945 18.886,19.92495 18.556,20.03495 L15.7555,20.96995 C15.318,21.11645 14.901,20.69995 15.047,20.26245 Z M24.005,28.00095 L12.001,28.00095 C9.791,28.00095 8,26.20945 8,23.99995 L8,11.99895 C8,9.78945 9.791,7.99845 12.001,7.99845 L19.0035,7.99745 C19.5555,7.99745 20.0035,8.44545 20.0035,8.99745 C20.0035,9.54995 19.5555,9.99795 19.0035,9.99795 L12.001,9.99845 C10.8965,9.99845 10.0005,10.89395 10.0005,11.99895 L10.0005,23.99995 C10.0005,25.10445 10.8965,26.00045 12.001,26.00045 L24.005,26.00045 C25.1095,26.00045 26.005,25.10445 26.005,23.99995 C26.005,23.99995 26.0045,17.55145 26.0045,16.99895 C26.0045,16.44645 26.4525,15.99845 27.005,15.99845 C27.557,15.99845 28.005,16.44645 28.005,16.99895 C28.005,17.55145 28.0055,23.99995 28.0055,23.99995 C28.0055,26.20945 26.2145,28.00095 24.005,28.00095 Z" fill="#000000")
      div
        div &#xe802
        form(action="/messenger/search")
          input(type="text" name="search" placeholder="Messenger 검색")
      if !currentRoom
        div.noMessage 메시지가 없습니다.
          ul
            li.invisible
              div
                div
                  img
                div
                  div
                  div
                    span.latestMsg
                    span ·
                    span
      else
        div
          ul
            each room, index in rooms
              li(data-rid=room.id)
                div(class= index===currentRoomIdx ? 'currentRoom' : room.messages[0].userId===user.id || room.messages[0].isRead?undefined:"unreadMsg")
                  div
                    img(src=room.user.profilePhoto alt="")
                  div
                    div= room.user.name
                    div
                      span.latestMsg= room.messages[0].content
                      - 
                        let timeText;
                        const time = new Date(room.messages[0].createdAt);
                        const now = new Date();
                        if (time.getFullYear() === now.getFullYear()) {
                          if (time.getMonth() === now.getMonth() && time.getDate() === now.getDate()) {
                            timeText = `${time.getHours()<12 ? '오전':'오후'} ${time.getHours()<=12 ? time.getHours():time.getHours()%12}:${time.getMinutes()}`
                          } else {
                            timeText = `${time.getMonth()+1}월 ${time.getDate()}일`;
                          }
                        } else {
                          timeText = `${time.getFullYear()%100}. ${time.getMonth()+1}. ${time.getDate()}.`;
                        }
                      span ·
                      span.msgTime(data-created-at=room.messages[0].createdAt)= timeText
    div
      if currentRoom
        #friendHead
          div
            div
              img(src=currentRoom.user.profilePhoto, alt="")
            div
              span= currentRoom.user.name
              span
          div
            div(title="음성 통화 시작")
              svg(height="32px" width="32px" viewBox="0 0 36 36")
                g(id="phone" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                  polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                  path(id="Fill-11" d="M12.8546683,23.0915802 C10.2003459,20.4371382 8.18827548,17.4933995 7.18895039,14.801598 C6.11677282,11.9134196 6.30082118,9.54827444 7.70754499,8.14106577 C8.38574404,7.46332572 9.22115105,6.9556194 9.80301228,6.64860076 C10.1768605,6.45174482 10.6202062,6.44887101 10.9902201,6.6495587 C12.2608248,7.33735708 14.2542027,9.8624776 14.6055242,11.228016 C14.6980277,11.5867632 14.6266131,11.9694589 14.4094936,12.2774354 L12.8029047,14.5630718 C12.7056083,14.7019726 12.682123,14.8820647 12.7415553,15.0406032 C13.4096892,16.8233229 14.2192144,18.3129141 15.9254961,20.01852 C17.6303399,21.7246049 19.1209399,22.5340612 20.904867,23.2027008 C21.0635129,23.2625718 21.2432476,23.2391024 21.3822424,23.1413929 L23.6205389,21.5679822 C23.9339963,21.3476569 24.313596,21.2868279 24.6572488,21.3696894 C26.1948195,21.7356211 28.7992956,23.6898115 29.3811568,24.9135753 C29.5474713,25.2637011 29.5388441,25.6674713 29.3576715,26.0209499 C29.0993327,26.5267404 28.5534185,27.4875506 27.8018877,28.2395308 C24.2474537,31.7915592 16.8807262,27.1187451 12.8546683,23.0915802" fill="#0099ff")
            div(title="영상 통화 시작")
              svg(height="32px" width="32px" viewBox="0 0 36 36")
                g(id="camcorder" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                  polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                  path(id="original" d="M20,27 L9,27 C6.791,27 5,25.209 5,23 L5,13 C5,10.791 6.791,9 9,9 L20,9 C22.209,9 24,10.791 24,13 L24,23 C24,25.209 22.209,27 20,27 M30.5525,23.3995 L26.829,21.536 C26.321,21.282 26,20.762 26,20.193 L26,15.808 C26,15.2395 26.321,14.719 26.829,14.465 L30.5525,12.6015 C31.218,12.269 32,12.753 32,13.497 L32,22.504 C32,23.2485 31.218,23.732 30.5525,23.3995" fill="#0099ff")
            div(title="대화 정보")#roomInfo
              div.roomInfoActive
              svg(height="32px" width="32px" viewBox="0 0 36 36")
                g(id="info-circle" fill="none" fill-rule="evenodd" stroke="none" stroke-width="1")
                  g(id="Group")
                    polygon(id="Fill-8" points="0 36 36 36 36 0 0 0")
                    path(id="Fill-17" d="M18,10 C16.6195,10 15.5,11.119 15.5,12.5 C15.5,13.881 16.6195,15 18,15 C19.381,15 20.5,13.881 20.5,12.5 C20.5,11.119 19.381,10 18,10 Z M16,25 C16,25.552 16.448,26 17,26 L19,26 C19.552,26 20,25.552 20,25 L20,18 C20,17.448 19.552,17 19,17 L17,17 C16.448,17 16,17.448 16,18 L16,25 Z M18,30 C11.3725,30 6,24.6275 6,18 C6,11.3725 11.3725,6 18,6 C24.6275,6 30,11.3725 30,18 C30,24.6275 24.6275,30 18,30 Z" fill="#0099ff")
        div
          #chat
            div#messages(data-rid=currentRoom.id)
              -let lastMsgTime = new Date(0);
              each message in messages
                -const time = new Date(message.createdAt);
                -const isDeleted =  Boolean(message.deletedAt);
                -const amPm = ['오전', '오후'];
                -const hours = time.getHours()%12;
                -const minutes = '0' + time.getMinutes();
                -const timeText = `${time.getFullYear()}년 ${time.getMonth()+1}월 ${time.getDate()}일 ${amPm[Math.floor(time.getHours()/12)]} ${hours===0?12:hours}:${minutes.slice(-2)}`;
                if time - lastMsgTime > 86400000
                  -lastMsgTime = time;
                  div.systemMsg
                    div= `${time.getFullYear()%100}. ${time.getMonth()+1}. ${time.getDate()}. ${amPm[Math.floor(time.getHours()/12)]} ${hours===0?12:hours}:${minutes.slice(-2)}`

                //- system message
                if !message.userId
                  div.systemMsg(data-mid=message.id)
                    div= message.content
                //- user's message
                else if message.userId === user.id
                  if !isDeleted
                    div.myMsg(title=timeText data-mid=message.id)
                      div.deleteMsgBtn(data-fid=currentRoom.user.id) ❌
                      div= message.content
                  else
                    -const deletedTime = new Date(message.deletedAt);
                    -const deletedHours = deletedTime.getHours()%12;
                    -const deletedMinutes = '0' + deletedTime.getMinutes();
                    -const deletedTimeText = `${deletedTime.getFullYear()}년 ${deletedTime.getMonth()+1}월 ${deletedTime.getDate()}일 ${amPm[Math.floor(deletedTime.getHours()/12)]} ${deletedHours===0?12:deletedHours}:${minutes.slice(-2)}`;
                    div.myMsg.deletedMsg(title=`보냄: ${timeText}\n보내기 취소함: ${deletedTimeText}` data-mid=message.id)
                      div= message.content
                //- friend's message
                else
                  div.friendMsg(title=timeText data-mid=message.id class= isDeleted?'deletedMsg':undefined)
                    div.friendprofilePhoto(data-friend-img=currentRoom.user.profilePhoto)
                    div= isDeleted?`${currentRoom.user.name}님이`:"" + `${message.content}`
            form#messageForm(data-rid=currentRoom.id)
              div
                svg(height="24" width="24" viewBox="0 0 24 24")
                  g(fill="none" fill-rule="evenodd")
                    polygon(points="-6,30 30,30 30,-6 -6,-6 ")
                    path(d="m18,11l-5,0l0,-5c0,-0.552 -0.448,-1 -1,-1c-0.5525,0 -1,0.448 -1,1l0,5l-5,0c-0.5525,0 -1,0.448 -1,1c0,0.552 0.4475,1 1,1l5,0l0,5c0,0.552 0.4475,1 1,1c0.552,0 1,-0.448 1,-1l0,-5l5,0c0.552,0 1,-0.448 1,-1c0,-0.552 -0.448,-1 -1,-1m-6,13c-6.6275,0 -12,-5.3725 -12,-12c0,-6.6275 5.3725,-12 12,-12c6.627,0 12,5.3725 12,12c0,6.6275 -5.373,12 -12,12" style="fill: rgb(0, 153, 255);")
              div
                div
                  svg(height="36px" width="36px" viewBox="0 0 36 36")
                    g(fill="none" fill-rule="evenodd")
                      polygon(points="0 36 36 36 36 0 0 0")
                      path(d="M27.002,13.5 L22.502,13.5 C21.95,13.5 21.502,13.948 21.502,14.5 L21.502,21.5 C21.502,22.052 21.95,22.5 22.502,22.5 C23.054,22.5 23.502,22.052 23.502,21.5 L23.502,19.5 L26.502,19.5 C27.054,19.5 27.502,19.052 27.502,18.5 C27.502,17.948 27.054,17.5 26.502,17.5 L23.502,17.5 L23.502,15.5 L27.002,15.5 C27.554,15.5 28.002,15.052 28.002,14.5 C28.002,13.948 27.554,13.5 27.002,13.5 Z M19.502,14.5 C19.502,13.948 19.054,13.5 18.502,13.5 C17.95,13.5 17.502,13.948 17.502,14.5 L17.502,21.5 C17.502,22.052 17.95,22.5 18.502,22.5 C19.054,22.5 19.502,22.052 19.502,21.5 L19.502,14.5 Z M14.963,16.9995 L12.502,17 C11.95,17 11.502,17.448 11.502,18 C11.502,18.552 11.95,19 12.502,19 L13.8855,19 C13.7835,20.1495 13.095,21 11.829,21 C10.3875,21 9.4925,19.725 9.4925,17.95 C9.4925,16.207 10.4655,14.9785 11.886,14.9785 C12.6395,14.9785 13.109,15.3665 13.4295,15.764 C13.6765,16.0695 14,16.229 14.353,16.229 C15.0175,16.229 15.574,15.5085 15.094,14.791 C14.471,13.859 13.335,13.25 11.8795,13.25 C9.179,13.25 7.502,15.2135 7.502,17.9735 C7.502,20.7655 9.071,22.75 11.798,22.75 C14.352,22.75 16.002,20.982 16.002,17.986 C16.002,17.441 15.5365,16.9995 14.963,16.9995 Z M27,30 L17,30 C15.811,30 14.7455,29.48 14.0135,28.656 C13.6395,28.235 13.1,28 12.537,28 L9,28 C6.791,28 5,26.209 5,24 L5,10 C5,7.791 6.791,6 9,6 L19,6 C20.189,6 21.2545,6.52 21.9865,7.3435 C22.3605,7.7645 22.9,8 23.463,8 L27,8 C29.209,8 31,9.791 31,12 L31,26 C31,28.209 29.209,30 27,30 Z" fill="#0099ff")
                div
                  svg(height="36px" width="36px" viewBox="0 0 36 36")
                    g(fill="none" fill-rule="evenodd")
                      polygon(points="0 36 36 36 36 0 0 0")
                      path(d="M22.5,18.5 L27.998,18.5 C28.8885,18.5 29.335,19.577 28.705,20.207 L20.207,28.705 C19.577,29.335 18.5,28.8885 18.5,27.9975 L18.5,22.5 C18.5,20.291 20.291,18.5 22.5,18.5 M16.5,22.5 L16.5,28 C16.5,28.552 16.052,29 15.5,29 L11,29 C8.791,29 7,27.209 7,25 L7,11 C7,8.791 8.791,7 11,7 L25,7 C27.209,7 29,8.791 29,11 L29,15.5 C29,16.052 28.552,16.5 28,16.5 L22.5,16.5 C19.1865,16.5 16.5,19.1865 16.5,22.5" fill="#0099ff")
                div
                  label
                    svg(height="36px" width="36px" viewBox="0 0 36 36")
                      g(fill="none" fill-rule="evenodd")
                        g(id="Group")
                          polygon(points="0 36 36 36 36 0 0 0")
                          path(d="M13.5,11 C12.1195,11 11,12.119 11,13.5 C11,14.881 12.1195,16 13.5,16 C14.8805,16 16,14.881 16,13.5 C16,12.119 14.8805,11 13.5,11 M26.638,21.467 L21.2375,18.767 C19.199,17.7485 16.801,17.7485 14.7625,18.767 L9.362,21.467 C9.1955,21.55 9,21.429 9,21.243 L9,11 C9,9.8955 9.8955,9 11,9 L25,9 C26.1045,9 27,9.8955 27,11 L27,21.243 C27,21.429 26.8045,21.55 26.638,21.467 M25,7 L11,7 C8.7905,7 7,8.791 7,11 L7,25 C7,27.209 8.7905,29 11,29 L25,29 C27.209,29 29,27.209 29,25 L29,11 C29,8.791 27.209,7 25,7" fill="#0099ff")
                    input#img.invisible(type="file", accept="image/*")
              div
                input#fidInput(type="hidden" name="friendId" value=currentRoom.user.id)
                input#msgInput(type="text" name="message" placeholder="메시지를 입력하세요...")
                svg(height="24px" width="24px" viewBox="0 0 26 26")
                  g(fill="none" fill-rule="evenodd")
                    polygon(points="0,26 26,26 26,0 0,0 ")
                    path(d="m19.1311,16.73095c-0.4325,-0.3545 -1.0775,-0.302 -1.441,0.122c-1.171,1.3615 -2.883,2.142 -4.697,2.142c-1.8135,0 -3.526,-0.7805 -4.697,-2.142c-0.363,-0.4225 -1.008,-0.4765 -1.441,-0.122c-0.432,0.355 -0.488,0.986 -0.1245,1.408c1.5605,1.8145 3.8435,2.855 6.2625,2.855c2.4195,0 4.702,-1.0405 6.2625,-2.855c0.3635,-0.422 0.3075,-1.053 -0.1245,-1.408m-2.1355,-7.731c-0.9375,0 -1.5,0.75 -1.5,2c0,1.25 0.5625,2 1.5,2c0.9375,0 1.5,-0.75 1.5,-2c0,-1.25 -0.5625,-2 -1.5,-2m-8,0c-0.9375,0 -1.5,0.75 -1.5,2c0,1.25 0.5625,2 1.5,2c0.9375,0 1.5,-0.75 1.5,-2c0,-1.25 -0.5625,-2 -1.5,-2m4.0045,16c-6.6275,0 -12,-5.3725 -12,-12c0,-6.6275 5.3725,-12 12,-12c6.6275,0 12,5.3725 12,12c0,6.6275 -5.3725,12 -12,12" fill="#0099ff")
              div
                svg(height="36px" width="36px" viewBox="0 1 36 36")
                  path(d="M10,30 L7.75,30 C6.625,30 6,27.7515306 6,23.3673469 C6,18.9831633 6.625,16.7346939 7.75,16.7346939 L10,16.7346939 C10.552,16.7346939 11,17.1918367 11,17.755102 L11,28.9795918 C11,29.5428571 10.552,30 10,30 M17,6.02040816 C17,5.44540816 17.4195,5.00255102 18,5 C19.2035,5 22,5.79081633 22,10.6122449 C22,12.2443878 21.8015,13.130102 21.7195,13.7163265 C21.719,13.7183673 21.719,13.7204082 21.7185,13.722449 C21.6865,13.9566327 21.872,14.1647959 22.113,14.1647959 C26.908,14.1647959 29.469,15.4336735 29.469,16.7290816 C29.469,17.3612245 29.211,17.9321429 28.7975,18.3535714 C29.513,18.7591837 30,19.5091837 30,20.3780612 C30,21.3642857 29.4255,22.2045918 28.5475,22.5515306 C28.821,22.9326531 28.9845,23.3954082 28.9845,23.8969388 C28.9845,24.9704082 28.3395,25.8653061 27.3365,26.1438776 C27.4285,26.377551 27.4845,26.6290816 27.4845,26.8943878 C27.4845,28.0459184 25.5485,28.9795918 21,28.9795918 C17.675,28.9795918 15.3815,28.3857143 14.5,27.9591837 C13.851,27.6454082 13,27.0770408 13,25.4081633 L13,18.7755102 C13,15.0403061 17.25,13.7760204 17.25,10.1020408 C17.25,7.78826531 17,6.81326531 17,6.02040816" fill="#0099ff")
          #roomOptions
            div
              div
                img(src=currentRoom.user.profilePhoto alt="")
              div= currentRoom.user.name
              div
            div
              span 옵션 더 보기
              div.icon--more
            div
              span 관리 및 지원
              div.icon--more

block append script
  script(src="/js/includes/fbHeader.js")
  script(src="/js/messenger/messenger.js")
  script(src="/socket.io/socket.io.js")
  script.
    const currentRoom = !{JSON.stringify(currentRoom)};
    const userSocket = io.connect('/user', { forceNew: true, path: '/socket.io' });

    userSocket.on('msgPosted', ({ msg, addressee }) => {
      let targetRoom = document.querySelector(`li[data-rid="${msg.roomId}"]`);
      if (!targetRoom) {
        // 현재 message 목록에 존재 x
        const listSample = document.querySelector('li.invisible');
        targetRoom = listSample.cloneNode(true);
        targetRoom.setAttribute('data-rid', msg.roomId);
        targetRoom.querySelector('img').src = addressee.profilePhoto;
        targetRoom.children[0].children[1].children[0].innerText = addressee.name;
        targetRoom.classList.remove('invisible');
        listSample.insertAdjacentElement('afterend', targetRoom);
      }
      const msgSpan = targetRoom.querySelector('.latestMsg');
      const msgTimeSpan = targetRoom.querySelector('.msgTime');

      // read or unread
      if (msg.userId !== !{user.id} && currentRoom?.id !== msg.roomId) {
        targetRoom.children[0].classList.add('unreadMsg');
      }
      // message content
      msgSpan.innerText = msg.content;
      // message time
      msgTimeSpan.setAttribute('data-created-at', msg.createdAt);
      const time = new Date(msg.createdAt);
      msgTimeSpan.innerText = `${time.getHours()<12 ? '오전':'오후'} ${time.getHours()<=12 ? time.getHours():time.getHours()%12}:${time.getMinutes()}`;
    });

    function msgPreviewUpdate(msg) {
      const targetRoom = document.querySelector(`li[data-rid="${msg.roomId}"]`);
      if (!targetRoom) return;

      const msgSpan = targetRoom.querySelector('.latestMsg');
      const msgTimeSpan = targetRoom.querySelector('.msgTime');
      if (msg.createdAt < msgTimeSpan.dataset.createdAt) return;

      msgSpan.innerText = msg.content;
    }
    userSocket.on('msgUpdated', msgPreviewUpdate);
    userSocket.on('msgDeleted', msgPreviewUpdate);

    //- userSocket.on('confirmFriend', );
    //- userSocket.on('friendConfirmed', );
    //- userSocket.on('likePosted', );
    //- userSocket.on('commentPosted', );












    if (currentRoom) {
      // user has at lease one message
      const chatSocket = io.connect('/chat', { forceNew: true, path: '/socket.io' });

      chatSocket.on('msgPosted', (msg) => {
        const outerDiv = document.createElement('div');
        const innerDiv = document.createElement('div');
        outerDiv.setAttribute('data-mid', msg.id);
        if (msg.userId === !{user.id}) {
          outerDiv.classList.add('myMsg');
          const deleteBtn = document.createElement('div');
          deleteBtn.innerText = '❌';
          deleteBtn.setAttribute('data-fid', currentRoom.user.id);
          deleteBtn.classList.add('deleteMsgBtn');
          deleteBtn.addEventListener('click', function () {
            const xhr = new XMLHttpRequest();
            xhr.onload = () => {
              if (xhr.status !== 200) console.error(xhr.responseText);
            };
            xhr.open('DELETE', `/message/${msg.roomId}/${msg.id}`);
            xhr.send();
          });
          outerDiv.appendChild(deleteBtn);
        } else if (!msg.userId) {
          outerDiv.classList.add('systemMsg');
        } else {
          outerDiv.classList.add('friendMsg');
          const friendMsgs = document.querySelectorAll('.friendMsg');
          if (friendMsgs.length) {
            const prevImgDiv = friendMsgs[friendMsgs.length - 1].children[0];
            const cloneImgDiv = prevImgDiv.cloneNode(true);
            prevImgDiv.children[0].remove();
            outerDiv.appendChild(cloneImgDiv);
          } else {
            const profilePhotoDiv = document.createElement('div');
            profilePhotoDiv.classList.add('friendprofilePhoto');
            profilePhotoDiv.setAttribute('data-friend-img', currentRoom.user.profilePhoto);
            const img = document.createElement('img');
            img.src = currentRoom.user.profilePhoto;
            profilePhotoDiv.appendChild(img);
            outerDiv.appendChild(profilePhotoDiv);
          }
        }
        innerDiv.textContent = msg.content;
        outerDiv.appendChild(innerDiv);
        const messagesDiv = document.getElementById('messages')
        messagesDiv.appendChild(outerDiv);
        messagesDiv.scrollTop = messagesDiv.scrollHeight;  // 스크롤바 최하단으로
      });

      chatSocket.on('msgDeleted', (msg) => {
        const targetMsg = document.querySelector(`[data-mid="${msg.id}"]`);
        targetMsg.classList.add('deletedMsg');
        const headMsg = targetMsg.classList.contains('myMsg') ? '' : `${currentRoom.user.name}님이 `;
        targetMsg.lastChild.innerText = headMsg + msg.content;
        targetMsg.children[0].remove();
      });
    }
