extends layout

block append css
  link(rel="stylesheet", href="/css/includes/fbHeader.css")
  link(rel="stylesheet" href="/css/profile/style.css")

block content
  include includes/fbHeader.pug

  div#profileOutline
    div
      div
        div
          img(src=targetUser.profilePhoto, alt="")
        div#profilePhotoUpdateBtn
          i
        //- 프로필 이미지 업데이트 창
        div#profilePhotoUpdateTab.invisible
          div
          form(action="/profile/profilePhoto", method="post" enctype="multipart/form-data")
            div 프로필 사진 업데이트
              div#profilePhotoUpdateCloseBtn
                div
            div.custom-scroll
              div
                div
                  span 업로드한 사진
                  label + 사진 업로드
                    input#newImg.invisible(type="file", accept="image/*")
                    div
                div
              div
                div 
                  span 프로필 사진
                div
                  div.profilePhotoCandidate
                    img(src=user.profilePhoto, alt="")
    div
      h1= targetUser.name
    div
      span 소개 추가
  div#divider
    div
  div#profileMenu
    div
      div
        a(href= selected==='timeline' ? undefined : `/profile/${user.id}`)
          div(class= selected==='timeline' ? 'selected' : undefined)
            span 타임라인
        a
          div
            span 정보
        a(href= selected==='friend' ? undefined : `/profile/${targetUser.id}/friend`)
          div(class= selected==='friend' ? 'selected' : undefined)
            span 친구
        a(href= selected==='photo' ? undefined : `/profile/${targetUser.id}/photo`)
          div(class= selected==='photo' ? 'selected' : undefined)
            span 사진
        a
          div
            span 보관함
        a
          div
            span 동영상
        a
          div
            span 더 보기
            i
      div
        div
          img(src="/images/profile/edit.png", alt="")
          span 프로필 편집
        div
          img(src="/images/profile/preview.png", alt="")
        div
          img(src="/images/profile/search.png", alt="")
        div
          i

block append script
  script(src="/js/includes/fbHeader.js")
  script(src="/js/profile/profile.js")